[Desktop Entry]
Version=1.0
Type=Application
GenericName=Front-end untuk alldeb_user
Name=AllDeb Installer
Comment=Program penginstal untuk berkas alldeb
TryExec=alldeb-installer
Exec=alldeb-installer %f
Icon=/usr/share/alldeb/icons/icon.svg
MimeType=application/alldeb;application/gzip;
Categories=Qt;Utility;Application;
